@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .center-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
// :root{

// }

* {
    box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

.App {
  height: 100vh;
}

svg {
  fill: currentColor;
}
